/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  /* overflow-x: hidden; */
}

.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}

.outer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f8fafc;
}

.inner-wrapper {
  width: 1440px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-hero {
  background-image: url("/images/product-hero-deskop-img.jpg");
  background-size: cover;
  background-position: bottom center;
}

@media (max-width: 600px) {
  .product-hero {
    background-image: url("/images/product-hero-mobile-img.jpg");
    background-size: cover;
    background-position: bottom center;
  }
}

.blurredImage {
  filter: blur(10px);
}

.bg-b-gradient {
  background: linear-gradient(92deg, #1738ce 0%, #021464 100.59%);
}

.bg-b-gradient-2 {
  background: linear-gradient(92deg, #021464 0%, #1738ce 100.59%);
}

/* text blue */
.text-b-100 {
  color: #f3f5ff;
}

.text-b-200 {
  color: #e9edfe;
}

.text-b-300 {
  color: #d6ddfe;
}

.text-b-400 {
  color: #b5c2fd;
}

.text-b-500 {
  color: #3a5df8;
}

.text-b-600 {
  color: #1738cf;
}

.text-b-700 {
  color: #0a26a3;
}

.text-b-800 {
  color: #021464;
}

.text-b-900 {
  color: #010c3c;
}

/* bg blue */
.bg-b-100 {
  background: #f3f5ff;
}

.bg-b-200 {
  background: #e9edfe;
}

.bg-b-300 {
  background: #d6ddfe;
}

.bg-b-400 {
  background: #b5c2fd;
}

.bg-b-500 {
  background: #3a5df8;
}

.bg-b-600 {
  background: #1738cf;
}

.bg-b-700 {
  background: #0a26a3;
}

.bg-b-800 {
  background: #021464;
}

.bg-b-900 {
  background: #010c3c;
}

/* text neutral */
.text-n-100 {
  color: #ffffff;
}

.text-n-200 {
  color: #f8fafc;
}

.text-n-300 {
  color: #f1f5f9;
}

.text-n-400 {
  color: #cbd5e1;
}

.text-n-500 {
  color: #94a3b8;
}

/* .text-n-600 {
  color: #1738cf;
} */

.text-n-700 {
  color: #475569;
}

.text-n-800 {
  color: #0f172a;
}

.text-n-900 {
  color: #000000;
}

/* bg neutral */
.bg-n-100 {
  background: #ffffff;
}

.bg-n-200 {
  background: #f8fafc;
}

.bg-n-300 {
  background: #f1f5f9;
}

.bg-n-400 {
  background: #cbd5e1;
}

.bg-n-500 {
  background: #94a3b8;
}

/* .bg-n-600 {
  background: #1738cf;
} */

.bg-n-700 {
  background: #475569;
}

.bg-n-800 {
  background: #0f172a;
}

.bg-n-900 {
  background: #000000;
}
